table {
    border-collapse: collapse;
    float: left;
    margin-left: 25px;
}

.my table, th, td {
    border: 2px solid white;
    padding: 10px;
    font-size: 15px;
    border-radius: 7px;
}

th {
    background: #d0e3f7;
}

.total td {
    background: #d0e3f7;
}

tr:nth-child(2n) {
    background: #f0f8ff;
}

tr:nth-child(2n+1) {
    background: #fff;
}

.form {
    margin-left: 265px;
    padding-top: 25px;
    clear: both;
}